.detail-background{
    background:url("../../assets/image/detail-img.png") no-repeat center/cover;
    height: 657px;

}
.book-btn{
    width: 90%;
    background-color: #6A62B7;
    color: white;
    border: none;
    border-radius: 2rem;
    padding: 1.1rem 2rem;
    font-size: 24px;
    font-weight: 500;
    margin-top: 3rem;
    cursor: pointer;
}
.detail-general-text h1{
    padding: 2rem 2rem;
    font-weight: 700;
    font-size: 2rem;
}
.detail-general-text{
    width: 100%;
    background-color: white;
    /*position: absolute;*/
    /*z-index: 1;*/
    /*top: 30rem;*/
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.detail-description p{
    font-weight: 400;
    font-size: 18px;
    width: 1200px;
    padding: 1rem 2rem;
}